server {
    server_name ${DOMAIN};
    listen 443 ssl;

    sendfile on;
    keepalive_timeout  65;
    default_type  application/octet-stream;

    root /var/www/naks-infosystem/;
    index index.html;

    location /static/ {}

    location / {
        try_files ${DOLLAR}uri ${DOLLAR}uri/ /index.html;
    }
}
